body{
    font-family: Arial;
}

p.caption{
    font-size: 32px;
    font-weight: 700;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.rate-block{
    display: flex;
    align-items: center;
}

.rate-block__number{
    font-size: 28px;
    color: #ED8A19;
}

.rate-block_margin-bottom{
    margin-bottom: 20px;
}

.stars{
    display: flex;
    flex-direction: row-reverse;
    max-width: max-content;
    margin-right: 10px;
}

.star:not(:first-child){
    margin-right: 5px;
}

.star svg{
    fill: #fff;
}

.star:hover ~ .star svg{
    fill: #ED8A19;
}

.star:hover svg{
    fill: #ED8A19;
}


.rated svg{
    fill: #ED8A19;
}

.rated ~ .star svg{
    fill: #ED8A19;
}



/* progress bar */

.progress-bar-wrapper{
    max-width: 300px;
    background: #666;
    margin-bottom: 10px;
    padding: 5px;
}

.progress-bar{
    width: 100%;
    height: 30px;
}

.progress-bar__filler{
    width: 0%;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(#90EE90, #8FBC8F);
    text-align: right;
    line-height: 30px;
    font-weight: 500;

}